<mat-toolbar>
  <button mat-icon-button (click)="drawer.toggle()" class="example-icon"
          aria-label="Example icon-button with menu icon">
    <mat-icon>list</mat-icon>
  </button>
  <span>Chashmai Nuqra</span>
  <span class="example-spacer"></span>
  <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <mat-icon>favorite</mat-icon>
  </button>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon>share</mat-icon>
  </button>
</mat-toolbar>

<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="side">
    <div class="sidebar">
      <a routerLink="/list-animals">
        <mat-icon>account_balance</mat-icon>
        Список Животных</a>
      <a routerLink="/histories">
        <mat-icon>assignment</mat-icon>
        История Животных</a>
      <a routerLink="/reports">
        <mat-icon>settings</mat-icon>
        Отчёты</a>
      <a href="/login">
        <mat-icon>exit_to_app</mat-icon>
        Выход</a>

    </div>
  </mat-drawer>

  <router-outlet></router-outlet>
</mat-drawer-container>
